* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/images/backcover.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 45%;
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    margin: 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #3E4794;
}

.signin-btn {
    border: none;
    color: white;
    margin: 16px 0px;
    padding: 4px 12px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(150, 92, 242, 1) 0%, rgba(255, 138, 220, 1) 80%);
}

/* Intro section  */

.intro-section {
    display: flex;
    height: 80vh;
}

/* Intor left section  */

.left-section {
    margin-left: 100px;
    padding-left: 28px;
    width: 30%;
    font-family: 'Roboto', sans-serif;

}

.left-section h1 {
    font-size: 5em;
    color: #3E4794;
    margin: 50px 0px;
}

.left-section h4 {
    margin-bottom: 50px;
    padding-right: 68px;
    line-height: 2;
    font-weight: 100;
}

.learn-more-btn {
    border: none;
    color: white;
    font-size: 2em;
    padding: 8px 24px;
    border-radius: 28px;
    background: linear-gradient(90deg, rgba(150, 92, 242, 1) 0%, rgba(255, 138, 220, 1) 80%);
}

/* Image section  */

.imgs-div {
    width: 60%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    object-fit: cover;
}

.imgs-div [alt="intro-img"] {
    max-width: 100%;
    max-height: 100%;
}

.vector-img {
    position: absolute;
    bottom: 16%;
    left: 45%;
}

.vector-dot {
    position: absolute;
    bottom: 27%;
    left: 49%;
}

@media (min-width:320px) and (max-width:426px) {
    .nav-items {
        display: none;
    }

    .intro-section {
        flex-direction: column;
    }

    .left-section {
        margin-left: 0;
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-section h1 {
        font-size: 4em;
        color: #3E4794;
        margin: 0 7%;
    }

    .left-section h4 {
        padding: 2em;
        margin-bottom: 0;
    }

    .imgs-div {
        width: 100%;
        padding: 1em;
        margin-top: 2em;
    }

    .vector-img {
        display: none;
    }

    .vector-dot {
        display: none;
    }

    .learn-more-btn {
        font-size: 1.4rem;
    }
}

@media (min-width:427px) and (max-width:768px) {
    body {
        background-size: 75%;
    }

    .left-section {
        flex: 1;
        margin-left: 0;
    }

    .left-section h4 {
        padding-right: 1em;
    }

    .imgs-div {
        justify-content: center;
    }

    .vector-img {
        position: absolute;
        right: 50%;
        bottom: 10%;
    }

    .vector-dot {
        position: absolute;
        top: 77%;
        right: 54%;
    }

    .learn-more-btn {
        font-size: 1.6rem;
    }
}

@media (min-width:769px) and (max-width: 1024px) {
    body {
        background-size: 75%;
    }

    .imgs-div [alt="intro-img"] {
        max-width: 85%;
    }

    /* .imgs-div {
        flex-direction: row;
        justify-content: space-between;
    } */

    .vector-img {
        align-self: flex-end;
        margin-bottom: 4em;
    }

    .vector-dot {
        position: absolute;
        top: 70%;
        right: 60%;
    }

    .left-section {
        margin-left: 30px;
    }

    .learn-more-btn {
        font-size: 1.6rem;
    }

    .left-section h1 {
        font-size: 6em;
    }

    .left-section h4 {
        padding-right: 0;
    }
}